.text {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
}

.text__title {
  font-size: 54px;
  line-height: 1.1;
  margin: 100px 154px 32px 0;
}

.text__subtitle {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 92px 10px 0;
  max-width: 738px;
}

.text__quote {
  font-size: 24px;
  line-height: 1.4;
  text-align: end;
  margin: 0 6px 32px 0;
  max-width: 732px;
}

.text__description {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 92px;
  max-width: 722px;
}

@media screen and (max-width: 1024px) {
  .text {
    margin: 90px 24px 88px;
    max-width: 720px;
  }

  .text__title {
    font-size: 45px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
  }

  .text__subtitle {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
    max-width: 720px;
    width: 100%;
  }

  .text__quote {
    margin-right: 0;
    margin-left: 0;
    max-width: 720px;
  }

  .text__description {
    margin-bottom: 0;
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .text {
    margin: 64px 16px 38px;
  }

  .text__title {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 40px;
    width: 100%;
  }

  .text__subtitle {
    margin-bottom: 10px;
  }
}
